<!DOCTYPE html>

<html>
  <head>
    <title>URL Shortener Microservice | freeCodeCamp.org</title>
    <link
      rel="icon"
      type="image/png"
      href="https://cdn.freecodecamp.org/universal/favicons/favicon-16x16.png"
    />
    <link href="../style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>URL Shortener Microservice</h1>
    <main>
      <h3>Short URL Creation</h3>
      <p>
          <code>example: POST [project_url]/api/shorturl/new - https://www.google.com</code>
      </p>
      <section>
        <form action="/api/shorturl/new" method="POST">
          <fieldset>
            <legend>URL Shortener</legend>
            <label for="url_input">URL:</label>
            <input id="url_input" type="text" name="url" placeholder="https://www.freecodecamp.org/" />
            <input type="submit" value="POST URL" />
          </fieldset>
        </form>
      </section>
      <section id="example">
          <h4>Example Usage:</h4>
          <p><a href="">[this_project_url]/api/shorturl/3</a></p>
      </section>
      <hr>
    </main>
    <footer>
        <p>
            By <a href="https://www.github.com/mattstub">Matt Stubenhofer</a> for <a href="https://www.freecodecamp.org/">freeCodeCamp.org</a> <br>
            <a href="https://github.com/mattstub/fcc-api">Source Code Repository</a> <br>
            Back End API Certification<br>
            June 2nd, 2022
          </p>
    </footer>
  </body>
</html>